{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Mohammad Mahdi Karim Khani">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!-- = fontawesome.css -->
    <link href="{% static 'css/all.css' %}" rel="stylesheet">

    <!--  = Bootstrap =  -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

</head>
<body>
{% block body %}{% endblock %}

<!-- = fontawesome.js -->
<script defer src="{% static 'js/all.js' %}"></script>

<!-- = bootstrap.bundle = -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<!-- = popper.js = -->
<script src="{% static 'js/popper.js' %}"></script>

<!-- = bootstrap.js = -->
<script src="{% static 'js/bootstrap.js' %}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>