<div class="bg-light navbar" dir="rtl">
    <div class="container">
        <div class="row col-12">
            <nav class="navbar navbar-expand-lg navbar-light header_text col-12" dir="rtl">
                <a class="navbar-brand header_text col-3 text-right" href="{% url 'home' %}">
                    <i class="fab fa-shopify fa-2x text-danger"></i>
                    Market
                </a>
                <a class="nav-link col-2 text-center text-dark" href="{% url 'home' %}"><i class="fas fa-home"></i> خانه</a>
                <div class="nav-link col-2 text-center text-dark header_tooltip" href="#">
                    <span class="tooltip_text rounded d-flex justify-content-around">
                        {% for category in category_list %}
                            <div><a class="text-danger" href="{% url 'category' category.slug %}">{{ category.title }}</a></div>
                        {% endfor %}
                    </span>
                    <i class="fas fa-boxes"></i> محصولات
                </div>
                <a class="nav-link col-2 text-center text-dark" href="#"> <i class="fas fa-store"></i> خرید</a>
                <a class="nav-link col-2 text-center text-danger size-st" href="#">ارتباط با ما</a>
            </nav>
        </div>
    </div>
</div>
